<p>error-page works!</p>

<ul>    

    <li>
    <a routerLink="/auth/login">
        Ir a Login
    </a>
    </li>

    <li>
    <a routerLink="/auth/registro">
        Ir a Registro
    </a>
</li>

    <li>
        <a routerLink="/heroes/listado">
            Ir a Listado de heroes
        </a>
    </li>
    <li>
        <a routerLink="/heroes/agregar">
            Agregar heroe
        </a>
    </li>
    <li>
        <a routerLink="/heroes/editar/id:">
            Editar heroe
        </a>
    </li>
    <li>
        <a routerLink="/heroes/buscar">
            Buscar heroe
        </a>
    </li>
    <li>
        <a routerLink="/heroes/:id">
            ID heroe
        </a>
    </li>

</ul>

